@import url("https://fonts.googleapis.com/css?family=Kanit:900");
.concrete {
    font-family: courier;
    font-size: 8pt;
    letter-spacing: 0.05em;
    line-height: 0.98em; 
    max-width: 600px; /*important:; to keep the div max width */
    text-align: left; /*important: to keep div align*/
    top:50%;
    left:50%;
    background-color:lightgreen;
}

a {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* text glow*/
.glowing:hover{
	 color: orange;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px orange, 0 0 30px #0ba9ca, 0 0 40px #0ba9ca, 0 0 50px #0ba9ca; /* search more info about "text-shadow" if you are unsure about parantres*/
  -webkit-animation: blink 1.5s infinite alternate;
          animation: blink 1.5s infinite alternate;
         font-size: 50px;
}


.threeD:hover{
	  color: #FFF;
  font-family: "Kanit";
  font-size: 60px;
  line-height: 1em;
  margin: 0;
  width: 100%;
  text-shadow: 0 1px 0 #e4adad, 0 2px 0 #e1a6a6, 0 3px 0 #df9e9e, 0 4px 0 #dc9696, 0 5px 0 #da8f8f, 0 6px 0 #d78787, 0 7px 0 #d58080, 0 8px 0 #d27878, 0 0 5px rgba(237, 154, 154, 0.05), 0 -1px 3px rgba(237, 154, 154, 0.2), 0 9px 9px rgba(237, 154, 154, 0.5), 0 12px 12px rgba(237, 154, 154, 0.5), 0 15px 15px rgba(237, 154, 154, 0.5);
}

@-webkit-keyframes blink {
  100% {
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0ba9ca, 0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

@keyframes blink {
  100% {
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0ba9ca, 0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

