/* screen - google-design-challenge */

.google-design-challenge {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 24820px;
  overflow: hidden;
  width: 1440px;
}

.google-design-challenge .overlap-group13 {
  height: 1193px;
  margin-right: -19px;
  position: relative;
  width: 1459px;
}

.google-design-challenge .landingpage-1png-1 {
  height: 1227px;
  left: 0;
  position: absolute;
  top: -13px;
  width: 1440px;
}

.google-design-challenge .overlap-group12 {
  height: 159px;
  left: 268px;
  position: absolute;
  top: -1px;
  width: 1445px;
}

.google-design-challenge .resume {
  height: 159px;
  left: 414px;
  letter-spacing: 0.75px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 824px;
}

.google-design-challenge .playground {
  height: 159px;
  left: 207px;
  letter-spacing: 0.75px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 824px;
}

.google-design-challenge .place {
  height: 159px;
  left: 0;
  letter-spacing: 0.75px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 824px;
}

.google-design-challenge .connect {
  height: 159px;
  left: 621px;
  letter-spacing: 0.75px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 824px;
}

.google-design-challenge .prompt-solutions-process {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 945px;
  padding: 76px 0;
  width: 1440px;
}

.google-design-challenge .flex-row {
  align-items: flex-start;
  display: flex;
  height: 416px;
  min-width: 1337px;
}

.google-design-challenge .project-prompt-your {
  align-self: flex-end;
  height: 397px;
  letter-spacing: 0;
  line-height: 30px;
  width: 580px;
}

.google-design-challenge .span-1 {
  line-height: 41.8px;
}

.google-design-challenge .solutions-key-feat {
  height: 240px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 144px;
  width: 613px;
}

.google-design-challenge .image-2 {
  align-self: center;
  height: 309px;
  margin-left: 32.0px;
  margin-top: 67px;
  object-fit: cover;
  width: 1266px;
}

.google-design-challenge .view-final-solution-video {
  align-items: flex-end;
  display: flex;
  height: 885px;
  margin-top: 23px;
  padding: 37px 43px;
  width: 1440px;
}

.google-design-challenge .hifi-thumb-1 {
  height: 745px;
  margin-left: 84px;
  object-fit: cover;
  width: 1270px;
}

.google-design-challenge .hi-fi-frames {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -1108px;
  margin-top: 181px;
  min-height: 3965px;
  width: 2491px;
}

.google-design-challenge .flex-row-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 1635px;
  margin-top: -8px;
  min-width: 2476px;
}

.google-design-challenge .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1635px;
  width: 874px;
}

.google-design-challenge .onboarding-screens {
  height: 763px;
  width: 874px;
}

.google-design-challenge .student-container {
  height: 819px;
  margin-top: 53px;
  position: relative;
  width: 874px;
}

.google-design-challenge .view-experienced-stu {
  height: 819px;
  left: 0;
  position: absolute;
  top: 0;
  width: 443px;
}

.google-design-challenge .view-new-studentuser-1-self-profile {
  height: 819px;
  left: 431px;
  position: absolute;
  top: 0;
  width: 443px;
}

.google-design-challenge .inbox-page {
  align-self: flex-end;
  height: 763px;
  margin-bottom: 56px;
  margin-left: 4px;
  width: 443px;
}

.google-design-challenge .icons8-edit-1-1 {
  height: 24px;
  margin-bottom: 231.0px;
  margin-left: 1131px;
  width: 24px;
}

.google-design-challenge .flex-row-2 {
  align-items: flex-end;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  min-width: 1298px;
}

.google-design-challenge .frame-3 {
  height: 776px;
  width: 882px;
}

.google-design-challenge .view-resolved-answer {
  height: 731px;
  margin-bottom: 5.5px;
  margin-left: 5px;
  width: 411px;
}

.google-design-challenge .frame-4 {
  height: 767px;
  margin-left: -84px;
  margin-top: 10px;
  width: 1309px;
}

.google-design-challenge .frame-6 {
  height: 779px;
  margin-top: 16px;
  width: 1343px;
}

.google-design-challenge .x1-user-research {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 202px;
  min-height: 4686px;
  width: 1446px;
}

.google-design-challenge .x1user-research-intro {
  align-items: flex-end;
  background-color: #def6f5;
  display: flex;
  flex-direction: column;
  height: 1239px;
  overflow: hidden;
  padding: 0 43px;
  width: 1446px;
}

.google-design-challenge .title {
  align-self: center;
  height: 176px;
  letter-spacing: 6.75px;
  margin-left: 56.0px;
  margin-top: 162px;
  width: 1050px;
}

.google-design-challenge .over-container {
  align-items: flex-start;
  display: flex;
  margin-top: 56px;
  min-width: 1326px;
}

.google-design-challenge .overview-conducted-u {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 494px;
  width: 595px;
}

.google-design-challenge .overlap-group {
  height: 1058px;
  margin-left: 79px;
  position: relative;
  width: 652px;
}

.google-design-challenge .private-message-grou {
  left: 0;
  letter-spacing: 0;
  line-height: 41.8px;
  position: absolute;
  top: 59px;
  width: 623px;
}

.google-design-challenge .insights {
  left: 25px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 627px;
}

.google-design-challenge .x1-user-research-contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 3447px;
  width: 1440px;
}

.google-design-challenge .opinions-peerorin-data-2 {
  height: 284px;
  margin-top: 129px;
  object-fit: cover;
  width: 1076px;
}

.google-design-challenge .frame-5 {
  align-self: flex-start;
  height: 686px;
  margin-top: 196px;
  width: 1424px;
}

.google-design-challenge .untitled12-1 {
  height: 682px;
  margin-left: 19.0px;
  margin-top: 42px;
  object-fit: cover;
  width: 1355px;
}

.google-design-challenge .frame-7 {
  height: 615px;
  margin-left: 19.0px;
  margin-top: 81px;
  width: 1247px;
}

.google-design-challenge .untitled13-2 {
  height: 727px;
  margin-right: 26.0px;
  margin-top: 5px;
  object-fit: cover;
  width: 1352px;
}

.google-design-challenge .x2-painpoints {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -6px;
  margin-top: 70px;
  min-height: 2731px;
  width: 1446px;
}

.google-design-challenge .x2-painpoints-1 {
  align-items: center;
  background-color: #c9f0ee;
  display: flex;
  flex-direction: column;
  height: 1239px;
  padding: 72px 33px;
  width: 1446px;
}

.google-design-challenge .x2painpoints-i-dentification {
  height: 164px;
  letter-spacing: 6.75px;
  margin-right: 12.0px;
  margin-top: 86px;
  text-align: center;
  width: 1202px;
}

.google-design-challenge .overlap-group2 {
  align-self: flex-end;
  height: 307px;
  margin-top: 82px;
  position: relative;
  width: 1345px;
}

.google-design-challenge .frame-8 {
  align-items: flex-end;
  display: flex;
  height: 256px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 1345px;
}

.google-design-challenge .productivity-pain-po {
  letter-spacing: 0;
  margin-bottom: -19px;
  margin-left: 29px;
  min-height: 176px;
  width: 1330px;
}

.google-design-challenge .financial-pain-point {
  left: 30px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 904px;
}

.google-design-challenge .span1 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
}

.google-design-challenge .process-pain-points {
  letter-spacing: 0;
  margin-left: 43.0px;
  margin-top: 27px;
  min-height: 177px;
  width: 1293px;
}

.google-design-challenge .span1-1 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 700;
}

.google-design-challenge .support-pain-points {
  letter-spacing: 0;
  margin-left: 20.0px;
  margin-top: 10px;
  min-height: 242px;
  width: 1272px;
}

.google-design-challenge .x2painpoints-storyboards {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 1492px;
  padding: 0 19px;
  width: 1440px;
}

.google-design-challenge .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 1097px;
  width: 1397px;
}

.google-design-challenge .overlap-group1 {
  align-self: flex-start;
  height: 404px;
  position: relative;
  width: 1391px;
}

.google-design-challenge .group-5 {
  align-items: flex-start;
  display: flex;
  height: 335px;
  left: 50px;
  min-width: 1341px;
  padding: 0 0.0px;
  position: absolute;
  top: 69px;
}

.google-design-challenge .group-5-item {
  height: 335px;
  margin-top: 0;
  object-fit: cover;
  width: 335px;
}

.google-design-challenge .story-of-jason-and-lisa {
  left: 0;
  letter-spacing: 0.44px;
  line-height: 26px;
  position: absolute;
  top: 0;
  width: 434px;
}

.google-design-challenge .flex-row-3 {
  align-items: flex-end;
  display: flex;
  height: 214px;
  margin-top: 35px;
  min-width: 1313px;
}

.google-design-challenge .name {
  letter-spacing: 0.44px;
  line-height: 26px;
  min-height: 210px;
  width: 279px;
}

.google-design-challenge .the-orientation-happ {
  letter-spacing: 0.44px;
  line-height: 26px;
  margin-left: 56px;
  min-height: 210px;
  width: 280px;
}

.google-design-challenge .before-school-starte {
  letter-spacing: 0.44px;
  line-height: 26px;
  margin-left: 91px;
  min-height: 210px;
  width: 279px;
}

.google-design-challenge .facebook-was-disable {
  align-self: flex-start;
  letter-spacing: 0.44px;
  line-height: 26px;
  margin-left: 49px;
  min-height: 210px;
  width: 279px;
}

.google-design-challenge .group-6 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-right: 11.87px;
  margin-top: 121px;
  min-width: 1292px;
  padding: 0 0.0px;
}

.google-design-challenge .group-6-item {
  height: 323px;
  margin-top: 0;
  object-fit: cover;
  width: 323px;
}

.google-design-challenge .overlap-group-1 {
  height: 323px;
  margin-top: 0;
  position: relative;
  width: 646px;
}

.google-design-challenge .x3 {
  height: 323px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 323px;
}

.google-design-challenge .x4 {
  height: 323px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 323px;
}

.google-design-challenge .flex-row-4 {
  align-items: flex-end;
  display: flex;
  height: 206px;
  margin-right: 32px;
  margin-top: 31px;
  min-width: 1265px;
}

.google-design-challenge .name-1 {
  letter-spacing: 0.44px;
  line-height: 26px;
  min-height: 202px;
  width: 269px;
}

.google-design-challenge .she-led-three-sectio {
  letter-spacing: 0.44px;
  line-height: 26px;
  margin-left: 54px;
  min-height: 202px;
  width: 269px;
}

.google-design-challenge .name-2 {
  letter-spacing: 0.44px;
  line-height: 26px;
  margin-left: 88px;
  min-height: 202px;
  width: 268px;
}

.google-design-challenge .however-all-the-inc {
  align-self: flex-start;
  letter-spacing: 0.44px;
  line-height: 26px;
  margin-left: 48px;
  min-height: 203px;
  width: 269px;
}

.google-design-challenge .x3-app-features-paper-proty {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -16px;
  min-height: 1846px;
  width: 1456px;
}

.google-design-challenge .x3-app-feature-intro {
  align-items: flex-start;
  background-color: #b8ebe9;
  display: flex;
  flex-direction: column;
  height: 742px;
  padding: 121px 96px;
  width: 1456px;
}

.google-design-challenge .x3-app-features-and-paper-prototypes {
  align-self: center;
  height: 178px;
  letter-spacing: 6.75px;
  text-align: center;
  width: 1254px;
}

.google-design-challenge .this-app-should-b {
  letter-spacing: 0;
  margin-top: 35px;
  min-height: 265px;
  width: 1220px;
}

.google-design-challenge .span2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
}

.google-design-challenge .x3-app-features-skecth {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 20px;
  min-height: 1084px;
  width: 1331px;
}

.google-design-challenge .flex-col-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 185px;
  margin-top: 17px;
  min-height: 393px;
  width: 553px;
}

.google-design-challenge .onboarding-task-1-lo {
  height: 77px;
  margin-right: 51.39px;
  width: 217px;
}

.google-design-challenge .flex-row-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 52px;
  min-width: 553px;
}

.google-design-challenge .overlap-group1-1 {
  height: 264px;
  position: relative;
  width: 176px;
}

.google-design-challenge .loginsignin {
  height: 264px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 167px;
}

.google-design-challenge .vector-2 {
  height: 41px;
  left: 97px;
  position: absolute;
  top: 108px;
  width: 60px;
}

.google-design-challenge .vector-3 {
  height: 2px;
  left: 94px;
  position: absolute;
  top: 152px;
  width: 36px;
}

.google-design-challenge .vector-4 {
  height: 29px;
  left: 100px;
  position: absolute;
  top: 166px;
  width: 19px;
}

.google-design-challenge .vector-9 {
  height: 48px;
  left: 156px;
  position: absolute;
  top: 124px;
  width: 21px;
}

.google-design-challenge .overlap-group5 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62b5749b2a2f0cc1daf07327/releases/62b574b0277c13a72946fbbd/img/first-time-user-change-password---profile-picture@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 264px;
  padding: 88.5px 31.5px;
  width: 168px;
}

.google-design-challenge .overlap-group9 {
  height: 9px;
  margin-top: 26px;
  position: relative;
  width: 36px;
}

.google-design-challenge .sd {
  height: 9px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 12px;
}

.google-design-challenge .vector-5 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 36px;
}

.google-design-challenge .vector-6 {
  height: 1px;
  margin-right: 6.0px;
  margin-top: 6px;
  width: 28px;
}

.google-design-challenge .overlap-group8 {
  align-items: flex-start;
  align-self: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62b5749b2a2f0cc1daf07327/releases/62b574b0277c13a72946fbbd/img/vector-7@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 17px;
  margin-left: 31.0px;
  margin-top: 27px;
  min-width: 28px;
  padding: 2.0px 0;
}

.google-design-challenge .vector-8 {
  height: 1px;
  width: 13px;
}

.google-design-challenge .loading-animation-fo {
  height: 264px;
  margin-left: 25px;
  object-fit: cover;
  width: 168px;
}

.google-design-challenge .flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 629px;
  margin-top: 45px;
  min-width: 1332px;
}

.google-design-challenge .flex-col-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 11.69px;
  min-height: 408px;
  width: 352px;
}

.google-design-challenge .overlap-group3 {
  height: 284px;
  position: relative;
  width: 352px;
}

.google-design-challenge .home-page-after-login {
  height: 263px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 167px;
}

.google-design-challenge .vector-10 {
  height: 37px;
  left: 306px;
  position: absolute;
  top: 248px;
  width: 15px;
}

.google-design-challenge .vector-11 {
  height: 14px;
  left: 160px;
  position: absolute;
  top: 35px;
  width: 31px;
}

.google-design-challenge .vector-12 {
  height: 16px;
  left: 220px;
  position: absolute;
  top: 34px;
  width: 11px;
}

.google-design-challenge .vector-13 {
  height: 15px;
  left: 268px;
  position: absolute;
  top: 218px;
  width: 17px;
}

.google-design-challenge .changed-home-page {
  height: 263px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 166px;
}

.google-design-challenge .home-page-1-search-a {
  height: 93px;
  margin-right: 8.79px;
  margin-top: 31px;
  width: 148px;
}

.google-design-challenge .flex-col-4 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 617px;
  width: 737px;
}

.google-design-challenge .flex-row-7 {
  align-items: flex-start;
  display: flex;
  min-width: 737px;
}

.google-design-challenge .overlap-group4 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62b5749b2a2f0cc1daf07327/releases/62b574b0277c13a72946fbbd/img/asking-questions@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 263px;
  padding: 36.5px 9.5px;
  width: 168px;
}

.google-design-challenge .vector-14 {
  align-self: center;
  height: 9px;
  margin-left: 52.0px;
  margin-top: 24px;
  width: 43px;
}

.google-design-challenge .vector-container {
  height: 39px;
  position: relative;
  width: 140px;
}

.google-design-challenge .vector-15 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;
}

.google-design-challenge .vector-17 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 96px;
}

.google-design-challenge .vector-18 {
  height: 13px;
  left: 91px;
  position: absolute;
  top: 21px;
  width: 24px;
}

.google-design-challenge .vector-16 {
  height: 59px;
  margin-left: 8.0px;
  margin-top: 59px;
  width: 98px;
}

.google-design-challenge .vector-container-1 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62b5749b2a2f0cc1daf07327/releases/62b574b0277c13a72946fbbd/img/under-community-page@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 263px;
  padding: 2.5px 9.5px;
  width: 168px;
}

.google-design-challenge .vector-19 {
  align-self: flex-end;
  height: 9px;
  width: 12px;
}

.google-design-challenge .vector-21 {
  height: 26px;
  margin-left: 6.0px;
  margin-top: 109px;
  width: 19px;
}

.google-design-challenge .vector-20 {
  height: 26px;
  margin-left: 18.0px;
  margin-top: 49px;
  width: 27px;
}

.google-design-challenge .posting-experience {
  height: 263px;
  margin-left: 25px;
  object-fit: cover;
  width: 168px;
}

.google-design-challenge .overlap-group6 {
  height: 263px;
  margin-left: 8px;
  position: relative;
  width: 174px;
}

.google-design-challenge .view-unconnected-exp {
  height: 263px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 166px;
}

.google-design-challenge .vector-22 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 75px;
}

.google-design-challenge .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 354px;
  min-width: 711px;
}

.google-design-challenge .home-page-1-write-a {
  align-self: center;
  height: 141px;
  margin-bottom: 74.0px;
  width: 131px;
}

.google-design-challenge .community-page-1save {
  height: 77px;
  margin-left: 67px;
  margin-top: 30.84px;
  width: 133px;
}

.google-design-challenge .message {
  align-self: flex-end;
  height: 264px;
  margin-left: 5px;
  object-fit: cover;
  width: 166px;
}

.google-design-challenge .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 354px;
  width: 183px;
}

.google-design-challenge .posting-experience-1 {
  align-self: flex-end;
  height: 43px;
  width: 166px;
}

.google-design-challenge .explore-virtual-campus {
  height: 264px;
  margin-top: 47px;
  object-fit: cover;
  width: 166px;
}

.google-design-challenge .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 629px;
  width: 208px;
}

.google-design-challenge .overlap-group10 {
  height: 306px;
  position: relative;
  width: 208px;
}

.google-design-challenge .overlap-group2-1 {
  height: 306px;
  left: 0;
  position: absolute;
  top: 0;
  width: 208px;
}

.google-design-challenge .vector-31 {
  height: 37px;
  left: 170px;
  position: absolute;
  top: 257px;
  width: 38px;
}

.google-design-challenge .new-students-individual-profile {
  height: 306px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 167px;
}

.google-design-challenge .vector-23 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 48px;
  width: 52px;
}

.google-design-challenge .vector-24 {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 74px;
  width: 48px;
}

.google-design-challenge .vector-25 {
  height: 1px;
  left: 13px;
  position: absolute;
  top: 84px;
  width: 55px;
}

.google-design-challenge .vector-26 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 124px;
  width: 22px;
}

.google-design-challenge .vector-27 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 139px;
  width: 16px;
}

.google-design-challenge .vector-29 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 173px;
  width: 16px;
}

.google-design-challenge .vector-30 {
  height: 2px;
  left: 3px;
  position: absolute;
  top: 224px;
  width: 14px;
}

.google-design-challenge .vector-28 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 155px;
  width: 11px;
}

.google-design-challenge .view-shop-in-vr {
  height: 264px;
  margin-left: 7.5px;
  margin-top: 58px;
  object-fit: cover;
  width: 167px;
}

.google-design-challenge .x4-user-testing {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -16px;
  margin-top: 82px;
  min-height: 1442px;
  width: 1456px;
}

.google-design-challenge .desktop-8 {
  align-items: flex-start;
  background-color: #9ce3e0;
  display: flex;
  height: 742px;
  overflow: hidden;
  padding: 266px 0;
  width: 1456px;
}

.google-design-challenge .x4u-ser-testing-on-paper-prototypes {
  height: 178px;
  letter-spacing: 6.75px;
  margin-left: 228px;
  width: 1254px;
}

.google-design-challenge .usertesing-1 {
  height: 574px;
  margin-left: 4.0px;
  margin-top: 126px;
  object-fit: cover;
  width: 1386px;
}

.google-design-challenge .x5-low-fi-frames {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -16px;
  min-height: 2284px;
  width: 1456px;
}

.google-design-challenge .desktop-9 {
  align-items: flex-start;
  background-color: #78d9d5;
  display: flex;
  height: 742px;
  padding: 276px 101px;
  width: 1456px;
}

.google-design-challenge .x5-low-fi-frames-1 {
  height: 178px;
  letter-spacing: 6.75px;
  text-align: center;
  width: 1254px;
}

.google-design-challenge .untitled18-1 {
  height: 1470px;
  margin-left: 25.0px;
  margin-top: 72px;
  object-fit: cover;
  width: 1361px;
}

.google-design-challenge .x6-visual-ident {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -16px;
  margin-top: 112px;
  min-height: 2562px;
  width: 1456px;
}

.google-design-challenge .desktop-10 {
  align-items: flex-start;
  background-color: var(--viking);
  display: flex;
  height: 742px;
  padding: 276px 101px;
  width: 1456px;
}

.google-design-challenge .x6-visual-identities-explorations {
  height: 178px;
  letter-spacing: 6.75px;
  text-align: center;
  width: 1254px;
}

.google-design-challenge .logo-styles-1 {
  height: 439px;
  margin-left: 86.0px;
  margin-top: 157px;
  object-fit: cover;
  width: 1226px;
}

.google-design-challenge .letters-layout-1 {
  height: 465px;
  margin-right: 16.0px;
  margin-top: 155px;
  object-fit: cover;
  width: 942px;
}

.google-design-challenge .icon-1-1 {
  height: 456px;
  margin-right: 104.0px;
  margin-top: 148px;
  object-fit: cover;
  width: 456px;
}

.google-design-challenge .x7-takeaways {
  align-items: flex-start;
  display: flex;
  height: 1395px;
  margin-right: -16px;
  margin-top: 147px;
  min-width: 1456px;
}

.google-design-challenge .overlap-group-2 {
  height: 1394px;
  position: relative;
  width: 1456px;
}

.google-design-challenge .desktop-11 {
  align-items: flex-start;
  background-color: var(--viking);
  display: flex;
  height: 742px;
  left: 0;
  padding: 276px 101px;
  position: absolute;
  top: 0;
  width: 1456px;
}

.google-design-challenge .x7takeaways {
  height: 178px;
  letter-spacing: 6.75px;
  text-align: center;
  width: 1254px;
}

.google-design-challenge .if-there-is-more-tim {
  height: 830px;
  left: 101px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 564px;
  width: 1293px;
}
